$min-width: "1024px";
$max-width: "1280px";
$min-alt-width: "1281px";

.hero-confirmation-note {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: $lotion;
    padding: 40px 0;
    color: $bg-dark;

    .icon {
        width: 48px;
        height: 48px;
        border: 2px solid $eerie-black;
        border-radius: 25px;
        margin: 0 auto;
        margin-bottom: 20px;
        position: relative;

        &::before {
            content: '\2713';
            font-size: 30px;
            position: absolute;
            top: 30%;
            left: 35%;
            transform: rotate(20deg);
        }
    }

    h1 {
        margin-bottom: 20px;
        @include sizeWeightLh(32px, 300, 20px);
        @include media-breakpoint-down(xs) {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }

    .order-number {
        margin-bottom: 20px;
        @include sizeWeightLh(15px, 400, 20px);
        @include media-breakpoint-down(xs) {
            margin-bottom: 30px;
        }

        span {
            color: $eerie-black;
            text-transform: uppercase;
            @include sizeWeightLh(15px, 600, 20px);
        }
    }

    .email-confirmation {
        margin-bottom: 4px;
        @include sizeWeightLh(15px, 400, 20px);

        @include media-breakpoint-down(md) {
            padding: 0 16px;
        }

        .email {
            font-family: $font-tumi-sbold;
            // font-weight: 600 !important;
        }
    }

    .email-id {
        color: $eerie-black;
        @include sizeWeightLh(15px, 600, 20px);
    }
}

.order-confirmation {
    .bgColor {
        background-color: $white;
        // padding-top: 16px;

        @media (min-width: $min-width) and (max-width: $max-width) {
            .container {
                padding-left: 120px;
                padding-right: 120px;
            }
        }

        @media (min-width: $min-alt-width) {
            .container {
                padding-left: 72px;
                padding-right: 72px;
            }
        }

        .content-slot-title {
            background-color: #fff;
        }
    }

    .bgGreyColor {
        background-color: $lotion;
        padding-left: 0;
        padding-right: 0;
    }

    h2 {
        font-family: $font-tumi;
        color: $eerie-black;
        // margin-bottom: 20px;
        @include sizeWeightLh(24px, 300, 28px);

        @include media-breakpoint-down(md) {
            @include sizeWeightLh(24px, 400, 20px);
        }
    }

    h3 {
        @include sizeWeightLh(15px, 600, 22px);

        color: $bg-dark;
        margin-bottom: 0;
        font-weight: 600;
    }

    hr {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .content {
        color: $davy-grey;
        @include sizeWeightLh(15px, 400, 20px);
    }

    .image {
        margin-right: 18px;

        img {
            width: 144px;
            height: 174px;
        }
    }

    .confirmation-message {
        background: $anti-flash-white;
        padding: 16px;
        margin-top: 44px;
        margin-bottom: 60px;
        @include sizeWeightLh(13px, 400, 20px);

        span {
            color: $eerie-black;
        }
    }

    .payment-section {
        color: $bg-dark;
        margin-top: 66px;
        @include media-breakpoint-down(xs) {
            margin-top: 29px;

            .card-detail {
                margin-top: 11px;
            }
        }
    }

    .item-list {
        .payment-info,
        .valuetec-tab,
        .summary-section-label,
        .change-shipping,
        .choose-expedit-shipping,
        .shipmethod-selected {
            display: none;
        }

        h2 {
            margin-bottom: 31px;
            @include media-breakpoint-down(xs) {
                margin-bottom: 21px;
            }
        }

        .cofirm-shipping {
            .shipping-summary {
                .lineItem {
                    padding: 9px 15px 15px 0;
                    color: $bg-dark;

                    .item-image {
                        padding: 5px;
                        margin-top: 15px;
                    }

                    .address-summary {
                        font-family: $font-tumi;
                        @include sizeWeightLh(15px, 400, 22px);
                    }
                }
            }
        }
    }

    .order-confirmation-continue-shopping {
        // margin-top: 100px;
        margin-bottom: 40px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 135px;
        }
    }

    .shipping-summary {
        h2 {
            @include media-breakpoint-up(sm) {
                margin-top: 100px;
                font-size: 24px;
                line-height: 28px;
            }
        }
    }

    .order-summmary-details {
        margin-bottom: 26px;

        h2 {
            @include media-breakpoint-up(sm) {
                // margin-bottom: 20px;
                margin-top: 100px;
                font-size: 24px;
                line-height: 28px;
            }
        }

        .card {
            border: none;
            border-bottom: 1px solid #ccc;
            margin-bottom: 40px;

            .card-body {
                padding: 0;

                .product-line-item-details {
                    margin-top: 38px;
                    margin-bottom: 40px;
                }
            }

            .collection-name {
                @include sizeWeightLh(10px, 400, 14px);

                columns: $davy-grey;
            }

            .line-item-name {
                color: $bg-dark;
                white-space: unset;
                font-weight: normal;
                @include sizeWeightLh(15px, 400, 20px);
            }

            .unit-price {
                color: $bg-dark;

                .sales {
                    font-weight: normal;
                    @include sizeWeightLh(15px, 300, 20px);
                }

                .strike-through {
                    @include sizeWeightLh(15px, 400, 20px);
                }

                .price {
                    margin-top: 10px;
                }
            }

            .line-item-promo {
                color: $american-red;
                margin-bottom: 10px;

                .line-item-attributes {
                    color: $eerie-black;
                }
            }

            .item-options {
                color: $eerie-black;
                font-family: $font-tumi;
                font-size: 13px;
                font-weight: 400;
                line-height: 18px;
                margin: 0;
            }
        }

        .subtotal {
            margin-top: 40px;
        }

        .subtotal,
        .shipping-text,
        .subtotal-text,
        .total {
            p {
                @include sizeWeightLh(15px, 400, 20px);

                color: $eerie-black;
                margin-bottom: 10px;
            }
        }

        .total {
            p {
                @include sizeWeightLh(15px, 600, 20px);

                color: $eerie-black;
            }
        }

        @include media-breakpoint-down(xs) {
            display: none;
        }

        .shipping-discount {
            color: $american-red;
        }
    }

    .card-item {
        .sms-section {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .optin_title {
                font-family: $font-tumi;
                color: $eerie-black !important;
                margin-bottom: 20px;
                font-weight: 300 !important;
                font-size: 24px !important;
                line-height: 20px !important;

                @include media-breakpoint-down(md) {
                    @include sizeWeightLh(20px, 400, 20px);
                }
            }

            .optin_description {
                color: $davy-grey !important;
                font-family: $font-tumi;
                @include sizeWeightLh(15px !important, 400, 20px !important);

                width: 245px;
            }

            .options {
                display: flex;
                justify-content: space-between;
                color: $eerie-black;
                margin-bottom: 20px;

                .notification-title {
                    @include sizeWeightLh(15px, 400, 16px);
                }

                .custom-switch .custom-control-label::before {
                    width: 44px;
                    height: 24px;
                    border-radius: 50px;
                    top: 0;
                }

                .custom-switch .custom-control-label::after {
                    width: 17px;
                    height: 18px;
                    top: 3px;
                }

                .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
                    background-color: #fff;
                    transform: translateX(1.5rem);
                }
            }

            .disclaimer {
                width: 245px;
            }
        }

        .card-detail {
            .card-number-wrapper {
                margin-left: 50px;
            }

            .credit-card {
                margin-top: 10px;
                color: $davy-grey;

                @include sizeWeightLh(15px, 400, 19px);
            }

            .cc-digits {
                margin-left: 10px;
            }
        }
    }

    .sms-create-account {
        padding-bottom: 40px;
        display: flex;
        justify-content: space-around;
        align-items: stretch;

        @media (min-width: $min-width) and (max-width: $max-width) {
            padding-left: 120px;
            padding-right: 120px;
        }

        @media (min-width: $min-alt-width) {
            padding-left: 72px;
            padding-right: 72px;
        }

        @include media-breakpoint-down(xs) {
            flex-direction: column;
            padding: 0;
        }

        .card-item {
            background-color: $white;
            padding: 40px 88px;
            flex: 0 0 49%;
            margin-right: 20px;
            max-width: 49%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;

            @include media-breakpoint-down(md) {
                padding: 17px;
                margin-right: 0;
            }

            @include media-breakpoint-down(xs) {
                flex: 0 0 100%;
                max-width: 100%;
            }

            &.become-member {
                justify-content: flex-start;
                align-items: center;
                text-align: left;

                .become-member-section {
                    @include media-breakpoint-up(lg) {
                        width: 334px;
                    }

                    .disclaimer {
                        margin-bottom: 20px;
                    }
                }

                @include media-breakpoint-down(xs) {
                    min-height: auto;
                    padding-bottom: 42px;
                }
            }

            &.sms-section-tile {
                justify-content: flex-start;
                align-items: center;
                text-align: left;
                padding-bottom: 40px;
            }

            .sms-section {
                height: 126px;
            }

            .become-member-section {
                height: 146px;
            }
        }
    }

    .cart-order-review {
        background: var(--color-white);
        border-bottom: 1px solid var(--color-grey2);
        border-top: 1px solid var(--color-grey2);
        margin-bottom: 44px;
        margin-top: 44px;

        @include media-breakpoint-down(xs) {
            margin-left: -16px;
            margin-right: -16px;
        }

        .mobile-cart-review {
            align-items: center;

            h4 {
                margin-bottom: 0;
            }

            p {
                margin-bottom: 0;
            }
        }

        .card {
            border: none;
            border-bottom: 1px solid #ccc;
            margin-bottom: 40px;

            .collection-name {
                @include sizeWeightLh(10px, 400, 14px);

                columns: $davy-grey;
            }

            .line-item-name {
                @include sizeWeightLh(15px, 400, 20px);

                color: $bg-dark;
            }

            .unit-price {
                color: $bg-dark;

                .sales {
                    @include sizeWeightLh(15px, 300, 20px);
                }

                .strike-through {
                    @include sizeWeightLh(15px, 400, 20px);
                }

                .price {
                    margin-top: 10px;
                }
            }

            .line-item-promo {
                color: $american-red;
                margin-bottom: 10px;

                .line-item-attributes {
                    color: $eerie-black;
                }
            }

            .item-options {
                color: $eerie-black;
                font-family: $font-tumi;
                font-size: 13px;
                font-weight: 400;
                line-height: 18px;
                margin: 0;
            }
        }

        .subtotal {
            margin-top: 40px;
        }

        .subtotal,
        .shipping-text,
        .subtotal-text,
        .total {
            p {
                @include sizeWeightLh(15px, 400, 20px);

                color: $eerie-black;
            }
        }

        .total {
            p {
                @include sizeWeightLh(15px, 600, 20px);

                color: $eerie-black;
            }
        }
    }

    .order-product-summary {
        .item-image {
            width: 144px;
            height: 174px;

            img.product-image {
                max-height: 100%;
            }
        }

        .item-attributes {
            .item-options {
                p {
                    margin-bottom: 0;
                    font-family: $font-tumi;
                    @include sizeWeightLh(13px, 400, 18px);
                }
            }
        }
    }

    .relfection-carousel-container {
        margin-bottom: 60px !important;

        h2 {
            margin-bottom: 70px;
        }
    }

    .summary-details.shipping {
        margin-top: 44px;
        margin-bottom: 20px;
        color: $davy-grey;

        @include media-breakpoint-up(sm) {
            margin-top: 55px;
        }
    }
}

.card-number-wrapper {
    &[data-type="klarna"]::after {
        background-image: url('https://x.klarnacdn.net/payment-method/assets/badges/generic/white/klarna.svg');
        background-size: auto;
    }
}

.order-confirmation {
    .OptinWidget {
        h2.optin_title {
            font-family: $font-tumi-light !important;
            color: $eerie-black;
            // margin-bottom: 20px;
            line-height: 28px !important;
            font-size: 24px !important;
        }

        .optin_description {
            font-family: $font-tumi-light !important;
            color: $eerie-black;
        }

        &.compact .optin_options {
            width: 56px;
            border: none;
        }
    }
}

.reflektion-carousel {
    .product {
        .product-tile {
            margin-bottom: 0 !important;

            .product-tile-footer {
                display: none;
            }
        }
    }
}

.confirmation-emailat {
    font-family: $font-tumi !important;
    background-color: $anti-flash-white;
    font-size: 13px;
    line-height: 20px;
    padding: 19px 22px 19px 29px;

    span {
        font-family: $font-semibold !important;
    }

    @include media-breakpoint-up(sm) {
        width: 322px;
        height: 80px;
        padding: 15px 98px 15px 19px;
        margin-top: 25px;
    }

    @include media-breakpoint-up(md) {
        font-size: 15px;
        width: 422px;
        height: 70px;
        padding: 15px 19px;
    }
}
