// FONT WEIGHTS
// @source: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;

// FONT FAMILIES
$font-tumi: 'ProximaNova';
$font-tumi-light: 'ProximaNovaLight';
$font-tumi-sbold: 'ProximaNovaSemiBold';
