.dw-apple-pay-button,
.dw-apple-pay-button:hover,
.dw-apple-pay-button:active {
    border-radius: 0 !important;
    height: 32px !important;
    width: calc(100% - 4px) !important;
    margin: 5px 2px 0 !important;
    background-color: transparent !important;
}

.applepay-content {
    height: 44px;
    border: 1px solid $eerie-black;
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
    background-color: $white;

    @include media-breakpoint-up(sm) {
        padding-left: 0;
    }

    button {
        -apple-pay-button-type: check-out;
        -webkit-appearance: -apple-pay-button;
        max-height: 42px;
    }

    .apple-pay-cart {
        /* stylelint-disable */
        -apple-pay-button-style: white;
        /* stylelint-enable */
    }
}
