// use this for small button
.button-small {
    @include button-styles();

    height: 32px;
    @include sizeWeightLh(12px, $fw-bold, 32px);
}

.button {
    @include button-styles();

    height: 44px;

    @include sizeWeightLh(15px, $fw-normal, 44px);

    &:hover {
        text-decoration: none;
        background: $davy-grey;
    }

    &:focus {
        border-radius: 0;
        outline: 1px dotted $bg-dark !important;
    }

    // primary button and use the same for primary-light button as well.

    &--primary {
        background-color: $eerie-black;
        color: $white !important;

        &:hover {
            background-color: $davy-grey;
        }
    }
    // primary-dark button styling
    &--primary-dark {
        background-color: $white;
        color: $eerie-black;

        &:hover {
            background-color: $chinese-silver;
            color: $white;
        }
    }
    // secondary button and use the same for secondary-light button
    &--secondary {
        background-color: transparent;
        color: $eerie-black;
        border: 1px solid $eerie-black;

        &:hover {
            background-color: $white;
            color: $davy-grey !important;
            text-decoration: none;
            border: 1px solid $davy-grey;
        }
    }
    // secondary-light with fill
    &--secondary-fill {
        background-color: $white;
        border: 1px solid $eerie-black;
        color: $eerie-black;

        &:hover {
            background-color: $white;
            color: $davy-grey !important;
            text-decoration: none;
            border: 1px solid $davy-grey;
        }
    }
    // secondary-dark button styling
    &--secondary-dark {
        background-color: transparent;
        color: $white;
        border: 1px solid $white;

        &:hover {
            background-color: transparent;
            color: $grey3 !important;
            border: 1px solid $grey3;
        }
    }
    // secondary-dark with fill
    &--secondary-dark-fill {
        background-color: $white;
        color: $eerie-black;

        &:hover {
            background-color: $chinese-silver;
            border: 1px solid $eerie-black;
            color: $eerie-black;
        }
    }

    &--disabled {
        background-color: $grey3;
        color: $white;
        pointer-events: none;
    }

    [disabled],
    &:disabled {
        background-color: $grey3;
        color: $white;
        pointer-events: none;
    }
}
