$product-detail: "product-detail";
$min-tablet: "768px";
$max-tablet: "1180px";

.#{product-detail} {
    color: $davy-grey;
    font-family: $font-tumi;

    .sub-container {
        position: sticky;
        top: 150px;

        @include media-breakpoint-down(xs) {
            margin-top: 31px;
        }

        .collections {
            display: flex;
            justify-content: space-between;

            .bookmark {
                right: 12px;
            }
        }

        .below-underline {
            @include media-breakpoint-up(sm) {
                border-bottom: 1px solid $horizontal-rule-grey;
            }
        }

        .mobile-border-line {
            @include media-breakpoint-down(xs) {
                border-bottom: 1px solid $horizontal-rule-grey;
            }
        }

        .collection-name {
            text-transform: uppercase;
            color: $davy-grey;
            font-family: $font-tumi;
            letter-spacing: 2px;
            @include sizeWeightLh(12px, 400, 14px);
        }

        .product-name {
            padding-bottom: 20px;
            margin-bottom: 0;
            color: $bg-dark;
            text-transform: capitalize;
            max-width: 346px;
            @include sizeWeightLh(24px, 300, 28px);
        }

        .prices-add-to-cart-actions {
            padding: 16px 0;
            position: static;
            background-color: transparent;
            box-shadow: none;

            .promo-prices {
                .ratings-and-price {
                    display: flex;
                    justify-content: space-between;
                }

                .prices {
                    padding: 0;

                    .price {
                        text-align: left;
                        color: $bg-dark;
                        @include sizeWeightLh(24px, 300, 26px);

                        font-family: $font-tumi-light;
                    }

                    .sales {
                        font-weight: 300 !important;
                        font-family: $font-tumi-light;
                    }

                    .strike-through {
                        color: $davy-grey;
                    }
                }

                .rating {
                    @include sizeWeightLh(13px, 400, 14px);

                    display: flex;
                    align-items: center;

                    .stars {
                        background: url("../images/star-grey.svg") no-repeat;
                        width: 100%;
                        height: 14px;
                        min-width: 79px;
                        margin-right: 6px;
                        position: relative;

                        span {
                            background: url("../images/star-black.svg") no-repeat;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            z-index: 3;
                        }
                    }
                }

                .product-availability {
                    .availability-msg {
                        height: 20px;
                        width: 230px;
                        margin-top: 4px;
                        color: $bg-dark;

                        .label {
                            @include sizeWeightLh(13px, 600, 20px);
                        }

                        .msg {
                            @include sizeWeightLh(13px, 400, 20px);
                        }
                    }
                }
            }

            .promotion-code {
                color: $red-color;
                padding: 0;
                @include sizeWeightLh(13px, 600, 20px);
            }
        }

        .product-inventory {
            text-align: left;
            margin-top: 0;
            @include sizeWeightLh(13px, 400, 20px);
        }

        .product-description {
            font-family: $font-tumi;
            // margin-bottom: 24px;
            margin-top: 16px;
            @include sizeWeightLh(15px, 400, 20px);
        }

        .color-section {
            position: relative;

            .selected-color-message {
                text-transform: capitalize;
                font-family: $font-tumi;
                color: $eerie-black;
                position: absolute;
                top: 9px;
                left: 15px;

                @include sizeWeightLh(15px, 600, 24px);
            }

            .color-pointer {
                pointer-events: none;
            }

            .color-attribute {
                margin-right: 16px;
                margin-bottom: 19px;
                margin-top: 19.5px;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:focus {
                    border-radius: 50%;
                }
            }

            .color-display-name {
                font-family: $font-tumi;
                color: $eerie-black;
                text-transform: capitalize;
                margin-top: 24px;
                @include sizeWeightLh(15px, 600, 24px);

                &::first-letter {
                    text-transform: uppercase;
                }
            }
        }

        .size-section {
            .size {
                margin-bottom: 16px;
                margin-top: 16px;
                font-family: $font-tumi;
                color: $eerie-black;
                min-height: 24px;
                @include sizeWeightLh(15px, 600, 24px);
            }
        }

        .attributes {
            padding-left: 0;
            padding-right: 0;

            .attribute {
                margin-top: 0;

                button {
                    &:focus {
                        outline: 1px dashed $bg-dark;
                    }
                }

                .wrap-items {
                    display: flex;
                    flex-wrap: wrap;
                }
            }

            .size-header {
                color: $black;
                @include sizeWeightLh(15px, 600, 24px);
            }

            .size-container {
                display: flex;
                flex-wrap: wrap;

                .size-selector {
                    width: 40px;
                    height: 38px;
                    margin-right: 18px;
                    padding: 1px 6px;
                    margin-bottom: 20px;

                    &.color-pointer {
                        border: 1px solid $black;
                        pointer-events: none;
                    }

                    &:disabled {
                        border: 1px solid $grey3;
                        color: $grey3;
                        background-color: $anti-flash-white;
                    }
                }
            }

            .swatch-circle {
                width: 25px;
                height: 25px;
                margin-right: 0;
                margin-left: 0;

                &.selectable {
                    margin-top: 0 !important;
                }

                &.unselectable {
                    cursor: unset;

                    &::after {
                        background: url("../images/crossline.svg") no-repeat center !important;
                        content: '';
                        position: absolute;
                        left: -1px;
                        top: -1px;
                        width: 25px;
                        height: 25px;
                        opacity: 70%;
                    }
                }

                &.selected {
                    margin-top: 0 !important;

                    &.color-value {
                        width: 32px;
                        height: 32px;
                        margin-right: 0;
                        margin-left: 0;

                        &::after {
                            content: "" !important;
                            background: transparent;
                        }

                        &::before {
                            content: "" !important;
                            border: 3px solid $white;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            border-radius: 100%;
                        }
                    }

                    &.unselectable {
                        cursor: unset;

                        &::after {
                            background: url("../images/disableswatch.svg") no-repeat center !important;
                            content: '';
                            position: absolute;
                            left: -1px;
                            top: -1px;
                            width: 32px;
                            height: 32px;
                            opacity: 50%;
                        }
                    }
                }
            }
        }

        .cart-and-ipay {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 40px;

            @include media-breakpoint-down(md) {
                flex-direction: column;
            }

            .add-to-cart {
                margin-bottom: 20px;
                width: 100%;

                @include media-breakpoint-up(md) {
                    margin-bottom: 18px;
                }

                .fa-shopping-bag {
                    display: none;
                }

                &.btn-50 {
                    width: 100%;

                    @include media-breakpoint-up(md) {
                        width: calc(50% - 9px);
                        margin-right: 9px;
                    }
                }
            }

            .pdp-apple-pay-button {
                border: 1px solid $eerie-black;
                padding-right: 0;
                width: 100%;
                margin-bottom: 20px;
                height: 44px;

                @include media-breakpoint-up(md) {
                    padding-left: 0;
                    width: calc(50% - 9px);
                    margin-left: 9px;
                }

                button {
                    -apple-pay-button-type: check-out;
                    -webkit-appearance: -apple-pay-button;
                    max-height: 42px;
                    background-color: $white !important;
                    font-size: 15px;
                    font-family: $font-tumi;
                }

                #apple-pay-button {
                    /* stylelint-disable */
                    -apple-pay-button-style: white;
                    /* stylelint-enable */
                }
            }

            .express-checkout {
                margin-bottom: 18px;

                @include media-breakpoint-up(lg) {
                    margin-right: 10px;
                }
            }

            &.flex-wrap .express-checkout {
                margin-right: 0;
            }
        }

        .product-number-rating {
            display: flex;
            border-bottom: transparent;
            border-top: transparent;

            .ratings {
                background-color: unset;
                margin-top: 0;
                margin-right: 0;
                padding: 0;

                .TTteaser__write-review {
                    color: $bg-dark;
                    @include sizeWeightLh(13px, 400, 24px);
                }
            }
        }
    }

    .social-container {
        display: none;
    }

    .product-options {
        margin-top: 0;
    }

    .primary-images {
        .product-carousel {
            @include media-breakpoint-down(xs) {
                overflow-x: hidden;
            }

            .swiper-wrapper {
                z-index: 0;

                @include media-breakpoint-up(sm) {
                    flex-wrap: wrap;
                    display: flex;

                    .swiper-slide {
                        width: 50% !important;

                        &:nth-child(1) {
                            width: 100% !important;
                        }

                        &:nth-child(4n + 0) {
                            width: 100% !important;
                        }
                    }
                }

                &.show-all {
                    .swiper-slide {
                        &.overlay-image {
                            max-height: inherit;
                            overflow: inherit;
                        }

                        &.overlay-image-td {
                            @include media-breakpoint-down(md) {
                                max-height: inherit;
                                overflow: inherit;
                            }
                        }

                        &.view-more-image {
                            display: block;
                        }
                    }

                    .show-less {
                        display: block;
                    }

                    .view-more {
                        display: none;
                    }
                }

                .swiper-slide {
                    @include media-breakpoint-up(sm) {
                        margin-bottom: 10px;
                    }

                    img {
                        max-width: 100%;
                    }

                    &.overlay-image {
                        max-height: 400px;
                        overflow: hidden;
                        @include media-breakpoint-down(md) {
                            display: none;
                        }
                    }

                    &.overlay-image-td {
                        @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
                            max-height: 250px;
                            overflow: hidden;
                        }
                    }

                    &.view-more-image {
                        @include media-breakpoint-up(sm) {
                            display: none;
                        }
                    }
                }

                .show-less {
                    display: none;
                }

                .view-more-btn {
                    margin-top: 10px;

                    @include media-breakpoint-down(xs) {
                        display: none;
                    }
                }
            }

            .swiper-pagination {
                @include media-breakpoint-up(sm) {
                    display: none;
                }
                @include media-breakpoint-down(xs) {
                    bottom: 12px;
                }

                .swiper-pagination-bullet {
                    box-sizing: content-box;
                    flex: 0 1 auto;
                    width: 17px;
                    height: 2px;
                    margin-right: 3px;
                    margin-left: 3px;
                    text-indent: -999px;
                    cursor: pointer;
                    background-color: $spanish-gray;
                    background-clip: padding-box;
                    opacity: 0.5;
                    transition: opacity 0.6s ease;
                    border-radius: unset;

                    &.swiper-pagination-bullet-active {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .product_360_view {
        text-align: center;
        margin-bottom: 0;

        .spinWrapper {
            display: none;
            @include media-breakpoint-up(sm) {
                margin: 60px 0;
            }

            @include media-breakpoint-up(md) {
                margin: 100px 0;
            }
        }

        #p360 {
            cursor: url("../images/360.svg"), auto !important;
        }

        .drag-to-spin-image {
            left: 50%;
            background: url("../images/360.svg");
            position: absolute;
            bottom: 50%;
            width: 9.438rem;
            height: 3.188rem;
            background-repeat: no-repeat;
            background-size: 9.438rem 3.188rem;
            transform: translate(-50%);
        }

        .description {
            color: $eerie-black;
            display: none;

            @include media-breakpoint-up(sm) {
                display: block;
            }

            img {
                width: 47px;
            }

            span {
                margin-left: 14px;

                @include sizeWeightLh(15px, 600, 24px);
            }
        }

        &:hover {
            @include media-breakpoint-up(md) {
                .drag-to-spin-image {
                    display: none;
                }
            }
        }
    }

    #s7_spinview.s7spinviewer {
        #s7_spinview_container {
            margin: 0 auto;
        }

        @include media-breakpoint-up(sm) {
            #s7_spinview_container_inner {
                &:hover {
                    #s7_spinview_divToolsButtons div,
                    #s7_spinview_divSpinButtons,
                    #s7_spinview_fullScreenButton {
                        display: block;
                    }
                }
            }

            #s7_spinview_divToolsButtons div,
            #s7_spinview_divSpinButtons,
            #s7_spinview_fullScreenButton {
                display: none;
                cursor: pointer;
            }
        }

        #s7_spinview_spinView {
            cursor: url("../images/360.svg") 17 18, auto;
        }
    }

    .find-store-btn {
        font-size: 15px;
        color: $davy-grey;
        width: 100px;
        text-align: right;
    }
}

#product-video_videoPlayer {
    background-color: transparent;
}

.sticky-container {
    display: none;
    background-color: $lotion;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    transition: top 0.5s;
    transition-duration: 0.5s;

    &.active {
        display: flex;
        position: fixed;
        top: 86px;
        width: 100%;
        align-items: center;
        height: 68px;
        font-size: 13px;
        justify-content: space-around;
        z-index: 15;
        left: 0;

        @include media-breakpoint-down(md) {
            bottom: 0;
            top: auto !important;
            background-color: $bg-dark;
            z-index: 3;
            height: 72px;
            padding: 0;
        }
    }

    .left-wrapper {
        justify-content: flex-start;
        display: flex;
        align-items: center;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .right-wrapper {
        justify-content: flex-end;
        display: flex;
        align-items: center;

        @include media-breakpoint-down(md) {
            justify-content: space-between;
            flex: 0 0 100% !important;
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
        }

        .view-options {
            margin-right: 18px;

            a {
                text-decoration: none;
                height: 32px;
                width: 100%;
                display: block;
                font-family: $font-semibold;
                @include sizeWeightLh(13px, 600, 32px);

                &:hover {
                    color: $davy-grey;
                }

                @include media-breakpoint-down(md) {
                    color: $white;
                }
            }

            button {
                padding: 0;

                &:focus {
                    outline: 1px dashed $white;
                }
            }

            @include media-breakpoint-down(md) {
                flex-basis: 50%;
                height: 72px;
                margin-right: 0;
                border-right: 1px solid var(--color-white);
            }
        }

        .add-to-cart {
            @include media-breakpoint-down(md) {
                width: 50%;
                height: 72px;
                white-space: nowrap;

                span.value {
                    font-size: 13px;
                }
            }
        }

        .cart-and-ipay {
            .apple-pay-pdp.btn {
                display: none !important;
            }
            @include media-breakpoint-down(xs) {
                padding-bottom: 0;
            }

            @include media-breakpoint-down(md) {
                flex-basis: 50%;
            }
        }
    }

    .collection-name {
        @include sizeWeightLh(13px, 400, 20px);

        text-transform: capitalize;
        justify-content: flex-start;
        margin-right: 18px;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .product-name {
        text-transform: capitalize;
        justify-content: flex-start;
        border-left: 1px solid #959595;
        padding-left: 18px;
        color: $bg-dark;
        @include sizeWeightLh(13px, 400, 20px);

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .button {
        height: 32px;
        justify-content: flex-end;
        text-transform: uppercase;
        font-family: $font-semibold;
        display: flex;
        align-items: center;
        @include sizeWeightLh(13px, 600, 16px);

        @include media-breakpoint-down(xs) {
            color: var(--color-white);
        }

        @include media-breakpoint-down(md) {
            height: 72px;
            display: block;
        }

        .prices {
            margin-left: 7px;
        }

        .price {
            display: inline-block;

            del {
                display: none;
            }

            .sales {
                font-size: 12px;
                color: var(--color-white);

                .value {
                    display: flex;

                    &::before {
                        content: '(';
                    }

                    &::after {
                        content: ')';
                    }
                }
            }

            .range {
                display: flex;

                &::before {
                    content: '(';
                    font-size: 14px;
                }

                &::after {
                    content: ')';
                    font-size: 14px;
                }

                .value {
                    display: flex;

                    &::before {
                        content: '';
                    }

                    &::after {
                        content: '';
                    }
                }
            }
        }
    }
}

.add-to-cart-messages {
    display: none;
}

.error-msg-add-to-cart {
    color: $red-color;
    padding: 0;
    @include sizeWeightLh(13px,600,20px);
}

.gwp-image {
    padding: 10px 0;
    width: 38px;
}

.gwp-text {
    padding: 6px;

    p {
        margin-bottom: 0;
    }
}

.above-underline {
    @include media-breakpoint-up(sm) {
        border-top: 1px solid $grey3;
    }
}

.breadcrumb-container {
    .container {
        padding-left: 0;
        padding-right: 0;

        @include media-breakpoint-up(sm) {
            padding-left: 16px;
            padding-right: 16px;
        }

        @media (min-width: $min-width) and (max-width: $max-width) {
            padding-left: 120px;
            padding-right: 120px;
        }

        @media (min-width: $min-alt-width) {
            padding-left: 72px;
            padding-right: 72px;
        }
    }
}

.breadcrumb-container {
    .product-breadcrumb {
        .breadcrumb {
            border-bottom: none !important;
            padding: 0;
            margin-top: 19px;
            margin-bottom: 28px;

            .breadcrumb-item {
                font-family: $font-tumi;
                color: $davy-grey;
                @include sizeWeightLh(11px, 400, 16px);

                img {
                    margin-bottom: 3px;
                }
            }

            @include media-breakpoint-down(sm) {
                border-top: 1px solid transparent;
            }
        }
    }
}

.s7videoviewer .s7videoplayer .s7iconeffect {
    width: 50px !important;
    height: 50px !important;
    background-size: 50px !important;
}

.s7videoviewer.s7touchinput .s7socialshare {
    display: none;
}

.product-detail [disabled] .swatch-circle:not(.selected) {
    cursor: unset !important;

    &::after {
        background: url("../images/crossline.svg") no-repeat center !important;
        content: '';
        position: absolute;
        left: -1px;
        top: -1px;
        width: 25px;
        height: 25px;
        opacity: 70%;
    }
}

.disable-apple-pay {
    .pdp-apple-pay-button {
        display: none;
    }

    .product-detail .sub-container & .add-to-cart.btn-50 {
        width: 100%;
        margin-right: 0;
    }
}
