.corporate-contacts h1 {
    margin: 20px 0;
}

.corporate-contacts p {
    margin: 0;
    padding: 0;
}

.corporate-contacts p#country {
    margin-top: 20px;
}

.corporate-contacts a.redLink {
    color: #be0f34;
}

.corporate-contacts #region {
    margin: 20px 0 8px;
    font-weight: 700;
    text-transform: uppercase;
}
