@mixin button-styles {
    padding: 0 20px;
    margin: 0;
    min-width: 128px;
    background-color: $eerie-black;
    color: $white;
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 0;
    cursor: pointer;
    -webkit-appearance: none;
}

@mixin sizeWeight($fontSize, $fontWeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin sizeWeightLh($fontSize, $fontWeight, $lineHeight) {
    font-size: $fontSize;
    //font-weight: $fontWeight;
    line-height: $lineHeight;
    -webkit-font-smoothing: antialiased;
    @if $fontWeight == 300 {
        font-family: $font-light;
    }

    @if $fontWeight == 600 {
        font-family: $font-semibold;
    }
}

