/* Style the notification */

.notification-icon {
    width: 1.6rem;
    height: 1.6rem;
    alt: "";
    border: "0";
}

.js-notification-message {
    display: none;
}

.js-d-flex {
    display: flex;
}

.head-section-name {
    color: #84bd00;
    padding-left: 0.5rem;
    line-height: 2;
    font-size: 2.6rem;
}

.body-message {
    padding-left: 0.5rem;
}

.title-description {
    font-size: inherit;
    text-align: start;
    line-height: inherit;
    padding-left: 0.8rem;
}
